<template>
  <div class="<%= pageName %>">
    <h2><%= pageName %></h2>
  </div>
</template>

<script setup lang="ts">
  //
</script>

<style lang="scss" scoped>
  .<%= pageName %> {
    //
  }
</style>
